header {
    text-align: center;
    height: 150px;
    width: 90%;
    margin: 0 auto;
}

#welcome {
    float: left;
    padding: 160px;
    position: absolute;
}

.col-md-4 {
    float: right;
    padding: 287px;
}

p {
    margin-top: 9px;
    color: red;
    font-size: 20px;
}

h1 {
    font-size: 100px;
    color: red;
    font-family: 
}

h3{
    font-size: 50px;
}

#underscores { 
    border: 3px solid black;
    font-size: 36px;
    text-align: center;
    margin: 20px auto;
    height: 43px;
    width: 161%;
}

